@model IEnumerable<CoffeeEShop.Domain.DomainModels.DetailedProduct>

@{
    ViewData["Title"] = "All Coffees";
}

<h1>All Coffees</h1>
<h3>Here is some additional informations about coffees!</h3>

<div class="row row-cols-1 row-cols-md-2 g-4">
    @foreach (var coffee in Model)
    {
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">@coffee.DisplayName</h5>
                    <p><strong>Origin:</strong> @coffee.Origin</p>
                    <p><strong>Coffee Dose:</strong> @coffee.IngredientsDescription</p>
                    <p><strong>Caffeine:</strong> @coffee.CaffeineInfo</p>
                    <p><strong>Served:</strong> @coffee.Served</p>
                </div>
            </div>
        </div>
    }
</div>

